<% content_for "header" do %>
  <chunk of="html">
    <h1>SIR IMAGER</h1>
  </chunk>
<% end %>
<%= path %>
<ul>
<%- files.each do |file_path| -%>
<li><a href="<%= file_path %>"><%= file_path %></a></li>
<%- end -%>
</ul>